{% extends 'interview/base.html' %}
{% load static %}

{% block content %}
<div style="max-width: 400px; text-align: center; margin-left: auto; margin-right: auto;">
<main style="width:100%;">
    <h1>allinone</h1>
    <form class="question-form" method="post" style="width:100%;">
        {% csrf_token %}
        <p>質問内容を入力<br>
            <textarea class="question-textarea" name="Question" cols="30" rows="5"></textarea>
        </p>
        <p>回答<br>
            <input class="answer-request" type="text" name="Answer">
        </p>
        <p>メモ<br>
            <input class="answer-request" type="text" name="Memo">
        </p>
        <p>フィードバック<br>
            <input class="answer-request" type="text" name="FB">
        </p>
        <p>投稿者<br>
            <input class="answer-request" type="text" name="Contributor">
        </p>
        <p>回答者<br>
            <input class="answer-request" type="text" name="WhoAnswers">
        </p>
        <p>フィードバックした人<br>
            <input class="answer-request" type="text" name="FBer">
        </p>
        <p>回答者リクエスト<br>
            <input class="answer-request" type="text" name="AR">
        </p>
        <p>ジャンル<br>
            <input type="radio" id="contactChoice1" name="contact" value="classic">
            <label for="contactChoice1">定番</label>
            <input type="radio" id="contactChoice2" name="contact" value="reverse">
            <label for="contactChoice2">逆質問</label>
        </p>
        <p>回答者リクエスト<br>
            <input class="answer-request" type="text" name="AnswerReq">
        </p>
        <p>フィードバックリクエスト<br>
            <input class="answer-request" type="text" name="FBReq">
        </p>
        <br>
        <input class="question-button" type="submit" value="質問する" />
        <input class="question-button" type="button" value="戻る" onClick="location.href='./'" />
    </form>
</main>
</div>
{% endblock %}