{% extends 'interview/base.html' %}
{% load static %}

{% block content %}

    <form class="mensetsu-form" action="" method="post" width="100%">
      <div class="question_detail">
      {% csrf_token %}
        {% for obj in object_list %}
            {% if obj.id == question_id %}
              <p>
                質問内容:
                <br>
                <textarea name="question" cols="30" rows="5" readonly>{{obj.Question|default:"" }}</textarea>
              </p>
              <p>あなたの回答<br>
                <textarea name="ans" cols="30" rows="5" readonly>{{obj.Answer|default:"" }}</textarea>
              </p>
              <p>メモ<br>
                  <textarea name="memo" cols="30" rows="5" readonly>{{obj.Memo|default:"" }}</textarea>
                </p>
          {% endif %}
      {% endfor %}
      </div>

        
      
      
      <p class="formbutton">
        <button class="hensyubutton" type="button" onclick="location.href='../../hensyu'"> <img src="{% static 'images/mark_arrow_left.png' %}" height ="80" width="100" /></button>
        <button id="nextBtn" class="hensyubutton" type="submit" onclick="location.href='..'"><img src="{% static 'images/mark_batsu.png' %}" height ="80" width="100"/></button>
      <script>
        nextBtn.addEventListener('click', function(){
          q = {{question_id}} + 1
          history.replaceState('','',/aiueo);
        });
      </script>

      </p>

    </form>
    <script>
      reloadBtn.addEventListener('click', function(){
        location.reload();
      });

      
      nextBtn.addEventListener('click', function(){
        q = {{question_id}} + 1
        history.replaceState('','',`/mensetu/${q}/`);
      });
    </script>

{% endblock %}