{% extends 'interview/base.html' %}
{% load static %}

{% block content %}

    <form class="feedback-form" action="test.html" method="post">

        <div class="fuchidori">
            <p class="headline">
                質問一覧
            </p>
        </div>
       
        <ul>
            {% csrf_token%}
            {% for obj in object_list %}
                {% if obj.Answer != None %}
                    <div class="textarea">
                        <ol>
                            <h4 style="color: #0000EE"><a href="/feedback_let/{{ obj.id }}/">質問:{{obj.id}}</a></h4>
                            <li type="circle">{{ obj.Question }}</li>
                            <li type="circle">{{ obj.Answer }}</li>
                        </ol>
                    
                        <!-- <br> -->
                    </div>
                {% endif%}

            {% endfor %}
        </ul>
    
      </form>
      <button onclick="location.href='./'">戻る</button>

{% endblock %}