{% extends 'interview/base.html' %}
{% load static %}

{% block content %}

    <form class="mensetsu-form" action="" method="post" width="100%">
      <!-- <div class=""> -->
      {% csrf_token %}
        {% for obj in object_list %}
          {% if question_id == obj.id %}

              <p>
                質問内容(書き込み不可):
                {{obj.id}}
                <br>
                <textarea id="question" name="question" cols="30" rows="5" readonly>{{obj.Question}}</textarea>
              </p>
              <button type="button" onclick="synthesizeSpeech()">テキスト読み上げを実行(課金)</button>
              <p>あなたの回答(書き込み不可)<br>
                <textarea name="ans" cols="30" rows="5" readonly>{{obj.Answer|default:"" }}</textarea>
              </p>
              <p>メモ(書き込み不可)<br>
                <textarea name="memo" cols="30" rows="5" readonly>{{obj.Memo|default:"" }}</textarea>
              </p>
              <p>フィードバック(書き込み不可)<br>
                <textarea name="feedback" cols="30" rows="5" readonly>{{obj.FB|default:"" }}</textarea>
              </p>
            {% endif %}

      {% endfor %}
                  <script
                  src="https://cdn.jsdelivr.net/npm/microsoft-cognitiveservices-speech-sdk@latest/distrib/browser/microsoft.cognitiveservices.speech.sdk.bundle-min.js">
              </script>
                
                <!-- <script src="../../static/js/azure.js"></script> -->
                <script>
                    function synthesizeSpeech() {
                        const regionText = 'japanwest';
                        phraseText = document.getElementById("question").value;
                    
                        let speechConfig = SpeechSDK.SpeechConfig.fromSubscription(`{{key}}`, regionText);
                        speechConfig.speechSynthesisLanguage = "ja-JP";
                        speechConfig.speechSynthesisVoiceName = "ja-JP-NanamiNeural";
                    
                        const synthesizer = new SpeechSDK.SpeechSynthesizer(speechConfig);
                        synthesizer.speakTextAsync(
                            phraseText,
                            function (result) {
                                console.log(result);
                                synthesizer.close();
                                synthesizer = undefined;
                            }, function (err) {
                                console.log(err);
                                synthesizer.close();
                                synthesizer = undefined;
                            }
                        )
                    }
                </script>
      <!-- </div> -->


      <p class="formbutton">
      <button class="hensyubutton" type="button" onclick="history.back()"> <img src="{% static 'images/mark_arrow_left.png' %}" height ="80" width="100" /></button>
        <!--
        <br>
        <button id="reloadBtn" class="hensyubutton" type="button"> <img src="{% static 'images/mark_arrow_reload.png' %}" height ="80" width="100" /></button>
        <button class="hensyubutton" type="button" onclick="location.href='/update/{{ question_id }}/'"> <img src="{% static 'images/mark_hensyu.png' %}" height ="80" width="100" /></button> -->
      </p>

    </form>
    <script>
      reloadBtn.addEventListener('click', function(){
        location.reload();
      });

    </script>

      <input type="button" value="戻る" onClick="location.href='/'" />
{% endblock %}