{% extends 'interview/base.html' %}
{% load static %}

{% block content %}

    <div class="situmon">
      <ul>
        {% for obj in object_list %}
        <div class="textarea">
          <ol>
            <h4 style="color: #0000ee">
              <a href="/update/{{ obj.id }}/">質問:{{obj.id}}</a>
            </h4>
            <li type="circle">{{ obj.Question }}</li>
          </ol>
          <button class="hensyubtn" onclick="location.href='/update/{{ obj.id }}/'">編集</button>
          <button onclick="location.href='/delete/{{ obj.id }}/'">削除</button>
          <br />
          <br />
        </div>
        {% endfor %}
      </ul>
    </div>
    <button onclick="history.back()">戻る</button>

{% endblock %}