{% extends 'interview/base.html' %}
{% load static %}

{% block content %}



<div class="reg">

   <h1>ログイン画面</h1>

  <form class="loginform" method="post" action="{% url 'Login' %}">
    {% csrf_token %}

    <table class="reg_form">
    <tr>
    <td><label for="userid">ユーザーID:</label></td>
    <td><input type="text" name="userid"></td>
    <td><label for="password">パスワード：</label></td>
    <td><input type="password" name="password"></td>
    </tr>
    </table>

    <input type="submit" class="loginbtn" value="Login">
 </form>

 <p class="message">アカウントをお持ちですか？：
   <span>
      <a href="{% url 'register' %}">アカウントを作成</a>
   </span>
   </p>
   <button onclick="location.href='./'">戻る</button>

</div>




{% endblock %}