{% extends 'interview/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    {% csrf_token %}
    <button
        type="button"
        class="fuchidori imagebutton"
        onclick="location.href='mensetu/{{object_list.id}}'"
    >
        <img src="{% static 'images/mensetu.png' %}" />
        <p>面接開始</p>
    </button>
</div>

<div class="container">
<button
    type="button"
    class="fuchidori imagebutton"
    onclick="location.href='./feedback'"
>
    <img src="{% static 'images/kaitou.png' %}" />
    <p>他の人の回答</p>
</button>
</div>

<div class="container">
<button
    type="button"
    class="fuchidori imagebutton"
    onclick="location.href='./question'"
>
    <img src="{% static 'images/situmon.png' %}" />
    <p>質問</p>
</button>
</div>
</div>


<div class="container">
    <h2>サイト統計</h2>
    <a href="graph"><img style="width:80%; max-width: 600px;" src="data:image/png;base64, {{ graph | safe }} " alt=""></a>
</div>

<div class="container" style="text-align: center;">
    <h2>便利なページリンク集</h2>
    <section style="display: flex;">
                <div class="container">
                    <button type="button" style="width: 50%;" onclick="location.href='./csvDLUP'">
                        <img src="{% static 'images/kitairasutohenshu.png' %}" />
                        <label>csvで投稿</label>
                    </button>
                </div>
                <div class="container">
                    <button type="button" style="width: 50%;" onclick="location.href='./pdf_read'">
                        <img src="{% static 'images/kitairasutohenshu.png' %}" />
                        <label>PDF文字認識</label>
                    </button>
                </div>
    </section>
    <section style="display: flex;">
    <div class="container">
        <button type="button" style="width: 50%;" onclick="location.href='./allinput'">
            <img src="{% static 'images/kitairasutohenshu.png' %}" />
            <label>一気に入力</label>
        </button>
    </div>
        <div class="container">
            <button type="button" style="width: 50%;" onclick="location.href='./attend'">
                <img src="{% static 'images/kitairasutohenshu.png' %}" />
                <label>CT4出席DB</label>
            </button>
        </div>
    </section>
</div>
<!-- ポップアップ -->
<label class="open fixed" for="pop-up">その他一覧</label>
<input type="checkbox" id="pop-up" />
<div class="overlay">
    <div class="window">
    <label class="close" for="pop-up">閉じる</label>
    <button
        class="popbutton fuchidori"
        onclick="location.href='./question_List'"
    >
        面接質問一覧
    </button>
    <button class="popbutton fuchidori" onclick="location.href='./hensyu'">
        面接質問一覧(編集)
    </button>
    <button
        class="popbutton fuchidori"
        onclick="location.href='./feedback_yet'"
    >
        未フィードバック一覧
    </button>
    <button
        class="popbutton fuchidori"
        onclick="location.href='./feedback_List'"
    >
        フィードバックを見る
    </button>
    </div>
</div>

{% endblock %}