{% extends 'interview/base.html' %}
{% load static %}

{% block content %}

<form action="test.html" method="post">

    <p>質問一覧<br><br></p>
    <ul>
        {% csrf_token%}
        {% for obj in object_list %}
            {% if obj.Answer == "" %}
            {% if obj.Memo == "" %}
                <div class="kokuban-s2">
                    <ol>
                        <a href="/mensetu/{{ obj.id }}/"><font color="red">質問:{{obj.id}}</font></a>
                        <li type="circle">{{ obj.Question }}</li>
                    </ol>
                
                    <!-- <br> -->
                </div>
            {% endif%}
            {% endif%}
        {% endfor %}
    </ul>

</form>
<button onclick="location.href='./question_Main'">戻る</button>
{%endblock%}