{% extends 'interview/base.html' %}
{% load static %}

{% block content %}
<div class="question">
    <form class="question-form" method="post">
        {% csrf_token %}
        <p>質問内容を入力<br>
            <textarea class="question-textarea" name="q" cols="30" rows="5"></textarea>
        </p>
        <p>回答者リクエスト<br>
            <!-- <input class="answer-request" type="text" name="AR"> -->
            <select name="AR">
            <option value="">idを選択</option> 
            {% for account in accounts %}
            <!-- <input type="radio" id="{{ account }}" name="AR" value="{{ account }}">
            <label for="{{ account }}">{{ account }}</label> --> 
            <option value="{{ account }}">{{ account }}</option>
            {% endfor %}
            </select>
        </p>
        <p>ジャンル<br>
            <input type="radio" id="contactChoice1" name="contact" value="classic">
            <label for="contactChoice1">定番</label>
            <input type="radio" id="contactChoice2" name="contact" value="reverse">
            <label for="contactChoice2">逆質問</label>
        </p>
        <br>
        <input class="question-button" type="submit" value="質問する" />
        <input class="question-button" type="button" value="戻る" onClick="location.href='./'" />
    </form>
</div>
{%endblock%}